.wrapper {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.header {
  background-color: khaki;
  padding: 1px;
  border-radius: 8px;
}

body {
  font-family: sans-serif;
}

.input {
  margin-top: 5px;
  background-color: #c1ffff;
  border-radius: 8px;
  padding: 8px;
}

.input-area {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
  margin-right: 7px;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-right: 10px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.status-field {
  margin-top: 40px;
}

.status {
  display: flex;
  list-style: none;
}

.status-list {
  margin-right: 15px;
  font-size: 13px;
}

li {
  margin-right: 8px;
}


.todo-area {
  background-color: #c6ffe2;
  padding: 8px;
  border-radius: 8px;
}

.list-row {
  display: flex;
  list-style: none;
  padding-bottom: 4px;
}

.checkbox {
  margin-right: 15px;
}

.text {
  margin-right: auto;
}

